#!/usr/bin/env bash

# Digital Ocean

export DIGITAL_OCEAN_TOKEN="YOUR DIGITAL OCEAN ACCESS TOKEN WITH READ/WRITE PERMISSION"
export DIGITAL_OCEAN_SSH_KEY_NAME="YOUR EXISTING DIGITAL OCEAN SSH KEY NAME"
export DIGITAL_OCEAN_PRIVATE_KEY="YOUR EXISTING DIGITAL OCEAN PRIVATE KEY NAME"
export K8S_PROVIDER="digital_ocean"

export ADDONS_CCM_ENABLED="false"
export ADDONS_CSI_ENABLED="false"
export ADDONS_EBS_ENABLED="false"

export ADDONS_EXTERNAL_DNS_ENABLED="false"
export ADDONS_EXTERNAL_DNS_DOMAIN_FILTER="YOUR DOMAIN"
export ADDONS_EXTERNAL_DNS_SOURCE="ingress"
export ADDONS_INGRESS_ENABLED="false"

export ADDONS_CERT_MANAGER_ENABLED="false"
export ADDONS_CERT_MANAGER_ACME_EMAIL_ADDRESS="example@exmaple.test"
export ADDONS_CERT_MANAGER_ENVIRONMENT="dev"

export CLUSTER_NAME_PREFIX="k8s"
export VAGRANT_DOTFILE_PATH=".vagrant-${CLUSTER_NAME_PREFIX}"
export INSTANCE_TYPE="s-2vcpu-4gb"
export KUBECONFIG="${HOME}/.kube/configs/${USER}-${CLUSTER_NAME_PREFIX}.conf"
## Playbook
##
## For full cluster
# export K8S_PLAYBOOK="kubernetes"
##
## For bare minimal installation
# export K8S_PLAYBOOK="manual-setup"
