---
- name: Install common packages for k8s-cluster
  hosts: common
  remote_user: ubuntu
  become: yes
  roles:
    - common

- name: Configure docker and kubernetes
  hosts: common
  remote_user: ubuntu
  become: yes
  roles:
    - {role: kubernetes/common}

- name: Configure kubernetes master
  hosts: master
  remote_user: ubuntu
  become: yes
  environment:
    K8S_AUTH_KUBECONFIG: "{{kubeadmin_config}}"
  roles:
    - {role: kubernetes/master}
    - {role: kubernetes/addons/cni}
    - {role: kubernetes/addons/ingress, when: addons.ingress.enabled }
    - {role: kubernetes/addons/csi, when: provider == "digitalocean" and addons.csi.enabled }
    - {role: kubernetes/addons/ccm, when: provider == "digitalocean" and addons.ccm.enabled }
    - {role: kubernetes/addons/external_dns, when: provider == "digitalocean" and addons.external_dns.enabled }
    - {role: kubernetes/addons/cert_manager, when: provider == "digitalocean" and addons.cert_manager.enabled }
  pre_tasks:
    - name: Make sure 
      fail:
        msg: >-
          Release version is not formatted correctly. Please make sure
          it is of the form w.x.y-zz
      when: not loadbalancer_address and "{{ groups['master'] | length }}" > 1
      run_once: true  
# if count > 1, loadbalancer_address is not provided, we will abort

# if count = 1, loadbalancer_address is not provided, dont use lb flag
# if count = 1, loadbalancer_address is provided, use lb flag

- name: Configure kubernetes nodes
  hosts: node
  remote_user: ubuntu
  become: yes
  roles:
    - kubernetes/node

- name: Configure ebs
  hosts: common
  become: yes
  roles:
    - {role: kubernetes/addons/ebs, when: addons.ebs.enabled == "true"}
